updating-pom-in-all-files/src/main/mule/get-latest-connector-versions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="connectors-versionFlow" doc:id="705a91e3-a391-437b-9370-68a593d677c0" >
		<ee:transform doc:name="pomContent" doc:id="bed9a8e0-a53a-4dc8-8681-a17be8d6ae13" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="pomContent" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="retrieve-anypoint-platform-access-token-subflow" doc:id="e739da68-8fee-4b5a-baa3-eee4c3d0bec8" name="retrieve-anypoint-platform-access-token-subflow" />
	</flow>
	<sub-flow name="retrieve-anypoint-platform-access-token-subflow" doc:id="faef7820-ef27-41cd-b1a8-4887f9fa7601">
		<flow-ref doc:name="get-anypoint-platform-access-token-subflow" doc:id="f73a5393-35be-42ad-ab9f-fdc2afff96e4" name="get-anypoint-platform-access-token-subflow" />
		<set-variable value="#[payload]" doc:name="tokenResponse" doc:id="d47fc61e-8dc4-4dca-9761-e2c254886da2" variableName="tokenResponse" />
		<flow-ref doc:name="anypoint-platform-invocations-subflow" doc:id="fae9780d-96a4-4f4a-9ffd-5abebf5b04cb" name="anypoint-platform-invocations-subflow" />
	</sub-flow>
	<flow name="get-anypoint-platform-access-token-subflow" doc:id="a6915bae-c4cd-4c47-ac9a-2481e26d1879" >
		<ee:cache doc:name="Cache" doc:id="d285ce0c-51a4-41ae-a30a-d0b2aad89d6e" cachingStrategy-ref="Caching_Strategy" >
			<ee:transform doc:name="Set token request" doc:id="60404716-9485-4767-95e7-bef4cd5c9ab0" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "client_id": Mule::p('secure::anypoint.client_id'),
    "client_secret": Mule::p('secure::anypoint.client_secret'),
    "grant_type": "client_credentials"
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="method" ><![CDATA['POST']]></ee:set-variable>
					<ee:set-variable variableName="requestUriPath" ><![CDATA['https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token']]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="#[vars.method]" doc:name="Request To Retrieve Access Token" doc:id="6cd497ef-1f4f-49ab-abfb-56fedd38f3ab" url="#[vars.requestUriPath]" />
		</ee:cache>
	</flow>
	<sub-flow name="anypoint-platform-invocations-subflow" doc:id="efb725a4-2267-480c-bbc6-b9ed2b492d26" >
		<ee:transform doc:name="vars:dependencyList" doc:id="5f2d4ba6-c10b-4023-ad5d-33e1380a2969" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="method" ><![CDATA['GET']]></ee:set-variable>
				<ee:set-variable variableName="dependencyList" ><![CDATA[(vars.pomContent.project.dependencies.*dependency)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="vars:arr" doc:id="24b260a3-e815-4b4f-821f-78e65b1d0fd4" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="arr" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="connector-name" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Call exchange api to get connector version" doc:id="98e4baf7-8e77-4955-9ad9-14dd78f614a8" message="#['Call exchange api to get connector version']" />
		<foreach doc:name="For Each" doc:id="842676b7-d429-4b34-9abe-1a87a9391c29" collection="#[vars.dependencyList]" >
			<ee:transform doc:name="vars:requestUriPath" doc:id="7728b288-d9d1-47fa-bb6e-cd898fda5d86" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="requestUriPath" ><![CDATA['https://anypoint.mulesoft.com/exchange/api/v2/assets/' ++ payload.groupId ++ "/" ++ payload.artifactId ++ "/asset"]]></ee:set-variable>
					<ee:set-variable variableName="connector-name" ><![CDATA[%dw 2.0
output application/json
---
vars."connector-name" + payload.artifactId]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<try doc:name="Try" doc:id="7e2e5a70-dc39-4220-96f8-47899a1a21e6" >
				<http:request method="#[vars.method]" doc:name="call exchange api" doc:id="4387c155-0cab-4eb9-b3a0-10641edbba80" config-ref="platform-api-invocation" url="#[vars.requestUriPath]">
				<http:headers><![CDATA[#[output application/java
---
{
 "Authorization" : "Bearer "++ (vars.tokenResponse.access_token  as String)
}]]]></http:headers>
			</http:request>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e4b17720-8d05-4609-aeb7-bd6a5bed3f3d" >
						<ee:transform doc:name="Transform Message" doc:id="ee3d882f-5f30-4693-ad93-4656880954ee" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error": error.detailedDescription
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
			<ee:transform doc:name="vars:arr" doc:id="875f2aad-7219-40fe-8910-f6147f38e17d" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="arr" ><![CDATA[ %dw 2.0
output application/json
---
vars.arr ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="response-payload" doc:id="38b9cc5f-5cf4-4a12-843e-63a14e3d7682" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="latest-version" ><![CDATA[%dw 2.0
output application/json
var details = vars.dependencyList  map ((item, index) -> {
 
"connectorName": item.artifactId,
"connectorGroupName": item.groupId,
"currentVersionInApi": ((item.version replace "\$" with "") replace "}" with "") replace "{" with "" ,
"latestVersionInExchange": if(vars.arr[index].version == null) "Unsupported" else vars.arr[index].version,
"Java 17": if ((vars.arr[index].attributes filter ($.key == "is-java-17-supported")).value[0] == "true" ) "Latest Version Supports Java 17" else "Latest Version Does Not Supports Java 17"
})
---
details]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="final response" doc:id="6d5e95bb-524f-4a66-9274-9d4622808ba3" message="#['final response for connector version update']" />
	</sub-flow>
</mule>
