updating-pom-in-all-files/src/main/mule/update-all-connectors-in-a-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-all-connectors-in-a-project-flow" doc:id="5019d41e-38d8-45e4-ad98-be0582ca5396" >
		<http:listener doc:name="Listener" doc:id="1c0fe40d-58df-4533-8c5e-3b65eb49acb2" config-ref="HTTP_Listener_config" path="/updateSingleProject">
			<http:response>
				<http:headers ><![CDATA[#[output application/java
---
{
"Access-Control-Allow-Origin": "*",
"Access-Control-Allow-Methods": "GET, POST, OPTIONS",
"Access-Control-Allow-Headers": "Content-Type"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value='#[attributes.queryParams."projectName"]' doc:name="projectName" doc:id="4fd3769d-20d4-4691-918d-85b23f31f85b" variableName="projectName"/>
		<file:list doc:name="List" doc:id="42b62949-cd76-4ac4-b7d7-eb598a555b15" config-ref="File_Config" directoryPath="E:\pom"/>
		<ee:transform doc:name="Stores fileNames" doc:id="248f7b7a-bebc-47d1-9781-33150e48aedf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var projectname = vars.projectName
---
payload.attributes.fileName filter (item) -> item == projectname]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="fileName"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="readData"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="connector-latest-version" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c5fd9659-48c6-422a-ad6f-d37d05eb4467" collection='#[payload]'>
			<ee:transform doc:name="setting path to read pom file" doc:id="56663ce0-8527-4579-8b68-d1a3b351330f">
			<ee:message>
			</ee:message>
				<ee:variables>
					<ee:set-variable variableName="fileName"><![CDATA[%dw 2.0
output application/json
---
vars.fileName + payload]]></ee:set-variable>
					<ee:set-variable variableName="path"><![CDATA["E:/pom" ++ "/" ++ payload ++ "/pom.xml"]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="327b8751-0b1e-42d5-bacc-45991c13f0b0">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:read doc:name="Read POM File Content" doc:id="cfb7a0ca-2685-4a29-9416-47216629c33e" config-ref="File_Config" path="#[vars.path]" />
			<ee:transform doc:name="Store POM file data" doc:id="c15a756a-ee2a-4bd2-a62d-8b782f90c9bb">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="readData"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="connectors-versionFlow" doc:id="348776f7-c5e1-4549-ac1b-ada0639d255d" name="connectors-versionFlow" />
			<ee:transform doc:name="Transform Message" doc:id="e32a8534-c014-44c5-89f7-bf64db208aca">
				<ee:message>
					<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
vars.readData]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="connector-latest-version" ><![CDATA[%dw 2.0
output application/json
---
vars."connector-latest-version" + vars."latest-version"
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Updating dependencies with new version" doc:id="4fcc359a-5b40-4f27-8487-c1c60cc66fa8">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/xml
var http = "1.10.3"
var sockets = "1.2.5"
var xml = "1.4.2"
var validation = "2.0.6"
var ftp = "1.5.2"
var db = "1.14.6"
var mysql = "8.0.30"
var sf = "10.22.4"
var wsc = "1.9.2"
var snowflake = "3.13.29"
var snf = "1.2.1"
var file = "1.5.2"
var secure = "1.2.7"
var apikit = "1.9.2"
var sfc = "2.18.0"
var os = "1.2.2"
var val = "2.0.6"
var jackson = "2.13.0"
var jersey = "2.35"
var anypointmq = "4.0.8"
var munit = "2.1.5"
var httpclient = "4.4.1"
var assert = "1.2.1"
var fileext = "1.4.3"
var sharepoint = "3.6.2"
var slack = "1.0.19"
var slackclient = "1.40.3"
var slf4j = "1.6.1"
var java = "1.2.13"
---
payload update {
    case .project.dependencies -> $ mapObject ((value, key, index) ->
    {
        (key): value mapObject ((value, key, index) -> 
        if((value) ~= "mule-http-connector") 
        {
            artifactId: value,
            'version': http
        }
        else if((value) ~= "mule-sockets-connector")
        {
            artifactId: value,
            'version': sockets
        }
        else if((value) ~= "mule-validation-module")
        {
            artifactId: value,
            'version': validation
        }
        else if((value) ~= "mule-xml-module")
        {
            artifactId: value,
            'version': xml
        }
        else if((value) ~= "mule-db-connector")
        {
            artifactId: value,
            'version': db
        }
        else if((value) ~= "mule-ftp-connector")
        {
            artifactId: value,
            'version': ftp
        }
        else if((value) ~= "mysql-connector-java")
        {
            artifactId: value,
            'version': mysql
        }
        else if((value) ~= "mule-salesforce-connector")
        {
            artifactId: value,
            'version': sf
        }
        else if((value) ~= "mule-file-connector")
        {
            artifactId: value,
            'version': file
        }
        else if((value) ~= "mule-secure-configuration-property-module")
        {
            artifactId: value,
            'version': secure
        }
        else if((value) ~= "mule-apikit-module")
        {
            artifactId: value,
            'version': apikit
        }
        else if((value) ~= "mule-salesforce-composite-connector")
        {
            artifactId: value,
            'version': sfc
        }
        else if((value) ~= "mule-objectstore-connector")
        {
            artifactId: value,
            'version': os
        }
        else if((value) ~= "mule-validation-module")
        {
            artifactId: value,
            'version': val
        }
        else if((value) ~= "jackson-databind")
        {
            artifactId: value,
            'version': jackson
        }
        else if((value) ~= "jersey-media-json-jackson")
        {
            artifactId: value,
            'version': jersey
        }
        else if((value) ~= "anypoint-mq-connector")
        {
            artifactId: value,
            'version': anypointmq
        }
        else if((value) ~= "munit-runner")
        {
            artifactId: value,
            'version': munit
        }
        else if((value) ~= "httpclient")
        {
            artifactId: value,
            'version': httpclient
        }
        else if((value) ~= "munit-tools")
        {
            artifactId: value,
            'version': munit
        }
        else if((value) ~= "assertions")
        {
            artifactId: value,
            'version': assert
        }
        else if((value) ~= "mule-module-file-extension-common")
        {
            artifactId: value,
            'version': fileext
        }
        else if((value) ~= "mule-sharepoint-connector")
        {
            artifactId: value,
            'version': sharepoint
        }
        else if((value) ~= "mule4-slack-connector")
        {
            artifactId: value,
            'version': slack
        }
        else if((value) ~= "slack-api-client")
        {
            artifactId: value,
            'version': slackclient
        }
        else if((value) ~= "slf4j-api")
        {
            artifactId: value,
            'version': slf4j
        }
        else if((value) ~= "slf4j-simple")
        {
            artifactId: value,
            'version': slf4j
        }
        else if((value) ~= "mule-java-module")
        {
            artifactId: value,
            'version': java
        }
        else if((value) ~= "mule-wsc-connector")
        {
            artifactId: value,
            'version': wsc
        }
        else if((value) ~= "snowflake-jdbc")
        {
            artifactId: value,
            'version': snowflake
        }
        else if((value) ~= "mule4-snowflake-connector")
        {
            artifactId: value,
            'version': snf
        }

        else {(key): value} - 'version') 
    })
} ]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Rewrite the pom file with latest version" doc:id="6fe696c7-aa0b-412c-9afb-1062e36cebdc" config-ref="File_Config" path="#[vars.path]" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="8f138f8d-e0cc-41c4-b5db-dc58a0b085f1" message='#["Connector versions updated successfully"]'/>
		<ee:transform doc:name="Transform Message" doc:id="cb805901-a28e-4dc3-a1d9-0f5e803c510a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Connector versions updated successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
